<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Create Account</title>
</head>

<body>
    <div class="container">
        @model User 
        <form asp-action="Registration" asp-controller="Home" method="post"> @*modify action in controller*@
            <span asp-validation-for="FirstName"></span>
            <label asp-for="FirstName">First Name</label>
            <input asp-for="FirstName">
            <br>
            <span asp-validation-for="LastName"></span>
            <label asp-for="LastName">Last Name</label>
            <input asp-for="LastName">
            <span asp-validation-for="Email"></span>
            <label asp-for="Email">Email</label>
            <input asp-for="Email" type="email">
            <br>
            <span asp-validation-for="Password"></span>
            <label asp-for="Password">Password</label>
            <input asp-for="Password" type="password">
            <br>
            <br>
            <span asp-validation-for="Confirm"></span>
            <label asp-for="Confirm">Confirm Password:</label>
            <input type="password" asp-for="Confirm"></input>
            <br>

            <input type="submit">
        </form>
</body>

</html>